body {
  background: #e6e6e6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#example {
  background: #fff;
  margin: 50px auto 30px;
  min-height: 250px;
  padding: 45px 75px;
  width: 500px;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

button {
  background: #fff;
  border: none;
  color: #6e6e6e;
  font-size: 16px;
  padding: 5px 8px;
  margin-top: 10px;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

button:hover,
button:focus {
  cursor: pointer;
  outline: none;
}

button:disabled {
  opacity: 0;
}

.CustomInput.ReactPasswordStrength {
  border-color: #111;
  font-family: serif;
  font-size: 20px;
}

.CustomInput.ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-desc { color: #D95D39; }
.CustomInput.ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-desc { color: #F18805; }
.CustomInput.ReactPasswordStrength.is-strength-2 .ReactPasswordStrength-strength-desc { color: #FCBA04; }
.CustomInput.ReactPasswordStrength.is-strength-3 .ReactPasswordStrength-strength-desc { color: #FCBA04; }
.CustomInput.ReactPasswordStrength.is-strength-4 .ReactPasswordStrength-strength-desc { color: #00A6A6; }

.CustomInput.ReactPasswordStrength.is-strength-0 .ReactPasswordStrength-strength-bar { background: #D95D39; }
.CustomInput.ReactPasswordStrength.is-strength-1 .ReactPasswordStrength-strength-bar { background: #F18805; }
.CustomInput.ReactPasswordStrength.is-strength-2 .ReactPasswordStrength-strength-bar { background: #FCBA04; }
.CustomInput.ReactPasswordStrength.is-strength-3 .ReactPasswordStrength-strength-bar { background: #FCBA04; }
.CustomInput.ReactPasswordStrength.is-strength-4 .ReactPasswordStrength-strength-bar { background: #00A6A6; }
